<!-- Toolbar -->
<div class="{{ baseClass }}" role="banner">
  <a href="/"
    ><img width="40" alt="Angular Logo" src="assets/images/vaccine.svg"
  /></a>
  <div class="spacer" *ngIf="afAuth.user | async as user">
    <span>Welcome, {{ user.displayName }}</span>
  </div>
  <div class="spacer"></div>

  <a *ngIf="!auth.isLoggedIn()" class="nav-padding" (click)="openLogin()"
    ><span>Login</span></a
  >
  <a *ngIf="!auth.isLoggedIn()" class="nav-padding" (click)="openRegister()"
    ><span>Register</span></a
  >
  <a *ngIf="auth.isLoggedIn()" class="nav-padding" (click)="auth.logout()"
    ><span>Logout</span></a
  >
</div>
