.search {
  display: flex;
  justify-content: center;
}

.search-input {
  -moz-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none !important;
  -webkit-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
  background: #fff;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
  color: #6c757d;
  font-size: 1rem;
  height: 2rem;
  outline: none;
  padding: 1rem 1rem 1rem 3rem;
  // width: calc(100% - 4rem);
  width: 20rem;
}

.cards {
  margin-top: 2rem;
}

.middle {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.notify {
  display: flex;
  justify-content: center;
  color: #ffbb33;
}

.info-card {
  border: #ffbb33 solid 2px;
  background: #fff;
  color: black;
  width: 200px;
  height: 150px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  margin: 5px;
}

.float-right {
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  margin: 3px;
  z-index: 2;
}

.filters {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  margin-left: 30rem;
  margin-right: 30rem;
  padding: 10px 10px;
  border-radius: 20px;
  color: white;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
}

.toggle-item {
  margin-left: 1rem;
}

.state-group {
  display: flex;
  align-items: center;
  margin-left: 30rem;
  margin-right: 30rem;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

::ng-deep .mat-select-panel {
  max-height: 65% !important;
}

::ng-deep .mat-form-field-label {
  color: #424242 !important;
}

::ng-deep .mat-select-arrow {
  color: #424242 !important;
}

::ng-deep .mat-select-value {
  color: #424242 !important;
}

.dropdown {
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
}

.my-chip .mat-chip-selected {
  background-color: #68efad !important;
  color: black !important;
}

@media (max-width: 360px) {
  .filters {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 5px 5px;
    border-radius: 20px;
    color: white;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
  }

  .state-group {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 700px) {
  .filters {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 10px 10px;
    border-radius: 20px;
    color: white;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
  }

  .state-group {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
